.myHeader {
  .brand-logo {
    position: initial;
  }
  li {
    width: 130px;
    text-align: center;
  }
  .isActiveRoute {
    background: #00796b;
    border-radius: 10px;
  }
}


.active-link {
  background: #00796b;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  &:hover {
    cursor: hover;
    ul li {
      display: block;
      text-align: center;
      background: #26a69a;
      color: black;
    }
  }
  img {
    width: 56px;
    height: 56px;
  }
  ul {
    position: absolute;
    z-index: 1;
    li {
      display: none;
      background: #26a69a;
    }
  }
}