<div class="container">
    <div class="input-field">
        <input id="search" type="text" class="validate" [(ngModel)]="this.searchString" (ngModelChange)="this.searchStringUpdate.next($event)">
        <label for="search" [ngClass]="{active: this.searchString}">Search field</label>
    </div>
    <!-- <button class="btn" (click)="searchForBook( this.searchString, {startIndex: 0, maxResults: 10})">GO</button> -->
    

    <app-book 
    *ngFor="let book of listOfBook"
    [book]="book"
    [buttonStatus]="{
        editeBtn: false,
        deleteBtn: false,
        addToFavoriteBtn: false,
        addToDbBtn: true
    }"
    ></app-book>
    <mat-paginator 
    [length] = "paginationParams.length"
    [pageSize] = "paginationParams.pageSize"
    [pageSizeOptions] = "[3, 5, 7, 10]"
    (page) = "changePage($event)">
    </mat-paginator>
</div>
