<div class="container">
    <div class="input-field">
        <input id="search" type="text" class="validate" [(ngModel)]="this.searchString">
        <label for="search" [ngClass]="{active: this.searchString}">Search field</label>
    </div>
    <button class="btn" (click)="searchForBook( this.searchString, {startIndex: 0, maxResults: 10}, $event)">GO</button>
    <app-book 
    *ngFor="let book of listOfBook"
    [book]="book"
    [buttonStatus]="{
        editeBtn: false,
        deleteBtn: false,
        addToFavoriteBtn: false,
        addToDbBtn: true
    }"
    ></app-book>
    <ul class="pagination center">
        <li class="waves-effect"
            *ngFor="let page of this.googleBooks.getPageInfo().availablePages"
            [ngClass]="{active: (this.currentPage === page)}"
            (click)="this.changePage(page)"
            >
            <a routeLink="catalog">{{page + 1}}</a>
        </li>
    </ul>
</div>
