.example-container {
  width: 500px;
  button {
    margin: 5px;
  }
}

.my-input-field {
  select {
    display: block;
  }
}

.preview {
  #image {
    display: none;
  }
  #preview {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }
  .preview-label {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  #preview {
    margin: 0 auto;
    display: block
  }  
}