<div class="row">
  <app-filter
  [getAllBooks]="getBooks.bind(this)"
  [getFilteredBooks]="getFilteredBooks.bind(this)"
  ></app-filter>
  <div class="col s10">
    <app-book
    *ngFor="let book of books"
    [book]="book"
    [buttonStatus]="{
      editeBtn: true,
      deleteBtn: true,
      ddToDbBtn: false,
      addToFavoriteBtn: true
    }"
    [reloadPage]="this.getBooks.bind(this)"
    ></app-book>
    <mat-paginator 
      [length] = "paginationParams.length"
      [pageSize] = "paginationParams.pageSize"
      [pageSizeOptions] = "[3, 5, 7, 10, 25, 50]"
      (page) = "paginationHandler($event)">
    </mat-paginator>
  </div>
</div>