.modal-window {
  width: 650px;

  #image{
    display: none;
  }
  .preview {
    #preview {
      display: block;
      max-width: 250px;
      margin: 0 auto;
    }
    .preview-label {
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    #preview {
      margin: 0 auto;
      display: block
    }  
  }
  
  label:hover {
    cursor: pointer;
  }

  i:hover {
    cursor: pointer;
  }

  #description {
    height: 270px;
  }
}