<div class="modal-window">
  <div class="input-field">
    <label for="title" class="active">title</label>
    <input type="text" name="title" id="title" [(ngModel)]="editeBookData.title" ngDefaultControl>
  </div>
  <div class="input-field">
    <label  class="active">authors</label>
    <ng-multiselect-dropdown
    [placeholder]="'No author'"
    [data]="dropdownAuthorsList"
    [(ngModel)]="selectedItemsAuthor"
    [settings]="dropdownSettings"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="input-field">
    <label for="categories" class="active">categories</label>
    <ng-multiselect-dropdown
    [placeholder]="'No category'"
    [data]="dropdownCategoriesList"
    [(ngModel)]="selectedItemsCategories"
    [settings]="dropdownSettings"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="input-field">
    <label for="description" class="active">description</label>
    <textarea type="text" name="description" id="description" 
    [(ngModel)]="editeBookData.description"
    spellcheck="false"
    ></textarea>
  </div>
  <div class="input-field">
    <label for="pageCount" class="active">pages</label>
    <input type="number" name="pageCount" id="pageCount" min="0" [(ngModel)]="editeBookData.pageCount">
  </div>
  <label class="preview-label" for="image" class="active" [ngClass]="{alredy: this.image}"> 
    <div class="preview">
      Click for change image
      <input type="file" name="image" id="image" (change)="uploadFile($event)">
      <img [src]="this.editeBookData.image" alt="image book" id="preview">
    </div>
  </label>
    
  <hr>
  <button class="btn green" (click)="close()">Close</button>
  <button class="btn btn-save-change orange" (click)="editeBook()">Edite</button>
</div>