<h3 *ngIf="!books.length">Your list is empty</h3>
<div
class="container"
*ngIf="books.length"
>
  <div class="input-field">
      <input type="text" id="text" [(ngModel)]='searchField' (ngModelChange)="this.onSearchFieldChange.next($event)">
      <label for="text">Seaarch field</label>
  </div>
  <p class="favoritesText">Favorites: </p>
  <ul class="book-card">
    <li
    class="row book-element"
    *ngFor="let book of books"
    >
      <img src={{book.image}} alt="book image" class="book-image col s3">
      <p class="col s6">
        <b>
          {{book.title}}
        </b>
      </p>
      <p class="description  col s7">
        <b>Categories:</b> <span *ngFor="let category of book.categories_list" class="chip">{{category.name}}</span><br>
        <b>Authors:</b> <span *ngFor="let author of book.authors_list" class="chip">{{author.name}}</span> 
      </p>
      <div class="col s2 center btn-section">
        <button class="btn green" (click)="openDialog(book)">
          Details
        </button>
        <button class="btn red" (click)="deleteDialog(book)">
          <i class="material-icons">
            delete
          </i>
        </button>
      </div>
    </li>
  </ul>
  <mat-paginator 
    [length] = "paginationParams.length"
    [pageSize] = "paginationParams.pageSize"
    [pageSizeOptions] = "[3, 5, 7, 10, 25, 50]"
    (page) = "paginationHandler($event)">
  </mat-paginator>
</div>
<app-modal></app-modal>