<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <div class="preview">
    <label class="preview-label" for="image" class="active" [ngClass]="{alredy: this.editeBookData.image}">Click for change image</label>
    <input type="file" name="image" id="image" (change)="uploadFile($event)">
    <img [src]="this.userForEdite.hasOwnProperty('image') ? this.userForEdite.image: 'https://cdn.dribbble.com/users/219762/screenshots/2351573/saitama.png'" alt="image book" id="preview">
  </div> -->

  <div class="input-field">
    <input type="text" id="name" 
    [(ngModel)]='userForEdite.name'
    formControlName='name'
    >
    <label for="name" [ngClass]="{active: userForEdite.name}">Name</label>
  </div>
  <div class="input-field">
      <input type="text" id="email" 
      [(ngModel)]="userForEdite.email"
      formControlName='email'
      >
    <label for="email" [ngClass]="{active: userForEdite.email}">E-mail</label>
  </div>
  <div class="input-field">
      <input type="password" id="password"
      formControlName='password'
      (ngModelChange)="checkPass()"
      >
    <label for="password" [ngClass]="{active: userForEdite.password}">password</label>
  </div>
  <div class="input-field">
    <input type="password" id="confirmPassword"
    [(ngModel)]="confPassword"
    formControlName="confirmPassword"
    (ngModelChange)="checkPass()"
    >
    <label for="confirmPassword" [ngClass]="{active: userForEdite.password}">repeate password</label>
  </div>
  <div class="my-input-field">
      <label for="roles">Role</label>
      <select name="roles"  [(ngModel)]="userForEdite.role" formControlName='role'>
        <option value={{+2}}>User</option>
        <option value={{+1}}>Admin</option>
      </select>
  </div>
  <div class="container center">
      <button type="button" class="btn waves-effect green"
        (click)="addAction()" 
        *ngIf="showAddBtn"
        [disabled]="form.invalid || !confPass"
        >Add
      </button>
      <button type="button" class="btn waves-effect green"
        *ngIf="!showAddBtn"
        (click)="okAction()"
        [disabled]=" form.invalid  || !confPass"
        >Ok
      </button>
      <button (click)="dialogRef.close()" class="btn blue-grey">Close</button>
    </div>
</form>