<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <input type="text" id="name" 
    [(ngModel)]='userForEdite.name'
    formControlName='name'
    >
    <label for="name" [ngClass]="{active: userForEdite.name}">Name</label>
  </div>
  <div class="input-field">
      <input type="text" id="email" 
      [(ngModel)]="userForEdite.email"
      formControlName='email'
      >
    <label for="email" [ngClass]="{active: userForEdite.email}">E-mail</label>
  </div>
  <div class="input-field">
      <input type="password" id="password" 
      [ngModel]="userForEdite.password"
      formControlName='password'
      (ngModelChange)="checkPass()"
      >
    <label for="password" [ngClass]="{active: userForEdite.password}">password</label>
  </div>
  <div class="input-field">
    <input type="password" id="confirmPassword"
    [ngModel]="userForEdite.password"
    [(ngModel)]="confPassword"
    formControlName="confirmPassword"
    (ngModelChange)="checkPass()"
    >
    <label for="confirmPassword" [ngClass]="{active: userForEdite.password}">repeate password</label>
  </div>
  <div class="my-input-field">
      <label for="roles">Role</label>
      <select name="roles"  [(ngModel)]="userForEdite.role" formControlName='role'>
        <option value={{+2}}>User</option>
        <option value={{+1}}>Admin</option>
      </select>
  </div>
  <div class="container center">
      <button type="button" class="btn waves-effect green"
        (click)="addAction()" 
        *ngIf="showAddBtn"
        [disabled]="form.invalid"
        >Add
      </button>
      <button type="button" class="btn waves-effect green"
        *ngIf="!showAddBtn"
        (click)="okAction()"
        [disabled]=" form.invalid  || !confPass"
        >Ok
      </button>
      <button (click)="dialogRef.close()" class="btn blue-grey">Close</button>
      <button (click)="onSubmit()">submit</button>
    </div>
</form>