body {
  text-align: center;
}

h3 {
  display: inline-block;
  width: 360px;
  margin: 100px calc(50% - 180px);
}

#modal1 {
  display: block;
}

i .material-icons:hover {
  cursor: pointer;
}

.favoritesText {
  font-size: 20px;
}

.book-card {
  .book-element{
    height: 150px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    .book-image {
      display: inline-block;
      height: 148px;
      width: 148px;
    }
    .title {
      display: inline-block;
    }
    .description {
      display: inline-block;
    }
    .btn-section .btn {
      width: 120px;
    }
  }
}