<h3 *ngIf="!books.length">Your list is empty</h3>
<div class="container">
  <p class="favoritesText">Favorites: </p>
  <ul class="collection z-depth-4">
    <li
      class="collection-item avatar"
      mat-raised-button
      (click)="openDialog(book)"
      *ngFor="let book of pageOfItems"
    >
      <img src={{book.image}} alt="book image" class="circle">
      <span class="title">{{book.title}}</span>
      <p>
        <b>Categories:</b> <span *ngFor="let category of book.categories_list" class="chip">{{category.name}}</span><br>
        <b>Authors:</b> <span *ngFor="let author of book.authors_list" class="chip">{{author.name}}</span> 
      </p>
    </li>
  </ul>
</div>
<jw-pagination
class="center"
[items]="books"
(changePage)="onChangePage($event)"
></jw-pagination>