.pagination {
  height: 50px;
  background: #ccc;

  .range-actgion {

    .pageNumbers li {
      width: 20px;
      display: inline-block;

      &:hover {
        cursor: pointer;
        background: red;
      }
    }
  }
}

