
.rework-btn {
  width: 50px;
  height: 36px;
  border-radius: 0 0 20px 20px;
  padding-left: 16px;
}

.edite-btn {
  margin-left: 10px;
  background: #ffc107 ;
}

.edite-btn:hover {
  color: #4db6ac;
}

.book-image {
  margin: 30px 0 0  16px;
}

.card-image {
  width: 138px;
}

.card-content {
  text-align: left;
}

.card-action {
  text-align: left;
}

.filters {
  margin-top: 30px;
}
.chip {
  user-select: none;
}
.chip:hover{
  background: #4db6ac ;
  cursor: pointer;
}

#image {
  display: none;
}
label[for="image"] {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-save-change {
  background: #ffc107;
  font-weight: bold;
}

.btn-save-change:hover {
  color: #4db6ac;  
}

.alredy {
  color: #4db6ac;
}

.delete-btn {
  background: #f44336 ;
}

.delete-btn:hover {
  color: #000;
}

.book-description {
  max-height: 86px;
  overflow: hidden;
}

#preview {
  max-width: 280px;
  max-height: 160px;
}

.mybackdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 19px;
};

// The modal "window"
.mymodal {
  background: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
};
