<div class="center">
    <button class="btn green"
    (click)="openDialog()"
    >add new user</button>
</div>
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card horizontal z-depth-4" *ngFor="let user of users">
            <div class="card-image col s4">
                <img src="{{user.image || 'https://cdn.dribbble.com/users/219762/screenshots/2351573/saitama.png'}}" class="user-image">
                <button 
                (click)="openDialog(user)"
                class="btn edite-btn rework-btn">
                    <i class="material-icons">edite</i>
                </button>
                <button 
                (click)="confirmDialog(user._id, user.name)"
                class="btn delete-btn rework-btn">
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <div class="card-stacked col s8">
                <div class="card-content">
                    <div class="card-title">
                        <b>{{user.name}}</b>
                        <br>
                        <span><small>({{(user.role === 1) ? 'admin' : 'user'}})</small></span>
                    </div>
                    <p><b>E-mail: </b>{{user.email}}</p>
                    <ul> 
                        <span><b>List of books:</b></span>
                        <li *ngFor="let book of user.book_list">{{book.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>