<div class="row">
    <div class="col s4 offset-s4">
        <div class="input-field">
            <input type="text" id="email" [(ngModel)]='user.email'>
            <label for="email">E-mail</label>
        </div>
        <div class="input-field">
            <input type="password" id="password" [(ngModel)]='user.password'>
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input type="text" id="name" [(ngModel)]='user.name'>
            <label for="name">Name</label>
        </div>
        <button type="button" class="btn waves-effect" (click)="registrate(user)">Registrate</button>
    </div>
</div>