<div class="row" [formGroup]="registrateForm">
    <div class="col s4 offset-s4">
        <div class="input-field">
            <input type="text" id="name" 
            [(ngModel)]='user.name'
            formControlName="name"
            >
            <label for="name"
            [ngClass]="{active: user.name}"
            >Name</label>
        </div>
        <div class="input-field">
            <input type="text" id="email"
            [(ngModel)]='user.email'
            formControlName="email"
            >
            <label for="email"
            [ngClass]="{active: user.email}"
            >E-mail</label>
        </div>
        <div class="input-field">
            <input type="password" id="password"
            [(ngModel)]='user.password'
            (ngModelChange)="checkPass()"
            formControlName="password"
            >
            <label for="password"
            [ngClass]="{active: user.password}"            
            >Password</label>
        </div>
        <div class="input-field">
            <input 
            formControlName="confirmPassword"
            (ngModelChange)="checkPass()"
            type="password" id="confirmPassword"
            >
            <label for="confirmPassword"
            [ngClass]="{active: registrateForm.controls.confirmPassword.value}"            
            >Confirm Password</label>
        </div>
        <button type="button"
        class="btn waves-effect"
        (click)="registrate(user)"
        [disabled]=" registrateForm.invalid  || !confPass"
        >Registrate</button>
    </div>
</div>