.input-field {
  margin-top: 20px;
}

.catalog-list {
  margin-top: 20px;
}

.chip {
  display: inline-block;
}

.card-image {
  margin: 30px 5px 5px 15px;
}

.add-to-pro-btn {
  margin-right: 20px;
}