<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <hr>
    <div class="input-field col s3">
        <input type="text" id="name" 
        [(ngModel)]="userForEdite.name"
        formControlName='name'
        >
        <label for="name" [ngClass]="{active: userForEdite.name}">Name</label>
    </div>
    <div class="input-field col s3">
        <input type="text" id="email" 
        [(ngModel)]="userForEdite.email"
        formControlName='email'
        >
        <label for="email" [ngClass]="{active: userForEdite.email}">E-mail</label>
    </div>
    <div class="input-field col s3">
        <input type="text" id="password" 
        [(ngModel)]="userForEdite.password"
        formControlName='password'
        >
        <label for="password" [ngClass]="{active: userForEdite.password}">Password</label>
    </div>
   <div class="input-field col s3">
        <input type="number" id="role" 
        [(ngModel)]="userForEdite.role"
        formControlName='role'
        >
        <label for="role" [ngClass]="{active: userForEdite.role}">Role</label>
    </div>
</form>
<div class="container center">
    <button type="button" class="btn waves-effect" 
        (click)="addAction()" *ngIf="!okBtnStatus"
        [disabled]="form.invalid"
        >Add
    </button>
    <button type="button" class="btn waves-effect" 
        (click)="okAction()" *ngIf="okBtnStatus"
        [disabled]="form.invalid"
        >OK
    </button>
</div>
<table class="table centered">
    <thead>
        <tr class="row">
            <th class="col s3">Name</th>
            <th class="col s3">E-mail</th>
            <th class="col s3">Role</th>
            <th class="col s3">Buttons</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr class="row" *ngFor="let user of users">
            <td class="col s3">{{ user.name }}</td>
            <td class="col s3">{{ user.email }}</td>
            <td class="col s3">{{ (user.role === 1) ? 'admin' : 'user' }}</td>
            <td class="col s3 row">
                <button class="btn col s5 red" id={{user._id}} (click)="deleteUser($event)">Delete</button>
                <button class="btn col s5 amber" id={{user.id}} (click)="editeAction(user)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>