<table class="table centered">
    <thead>
        <tr class="row">
            <th class="col s3">Name</th>
            <th class="col s3">E-mail</th>
            <th class="col s3">Role</th>
            <th class="col s3">Buttons</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr class="row" *ngFor="let user of users">
            <td class="col s3">{{ user.name }}</td>
            <td class="col s3">{{ user.email }}</td>
            <td class="col s3">{{ (user.role === 2) ? 'user' : 'admin' }}</td>
            <td class="col s3">
                <button class="btn" id={{user._id}} (click)="deleteUser($event)">delete</button>
            </td>
        </tr>
    </tbody>
</table>