<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      
      <li><a routerLink="catalog">Catalog</a></li>
      <li *ngIf="this.userInfo.isUserAuth()"><a routerLink="dbviewer">Book manager</a></li>
      <li *ngIf="(this.userInfo.isUserAuth() && this.userInfo.getStatus())"><a routerLink="user-manager">User manager</a></li>
      <li *ngIf="this.userInfo.isUserAuth()"><a routerLink="profile">Profile</a></li>
      <li *ngIf="!this.userInfo.isUserAuth()"><a routerLink="auth/login">Log in</a></li>
      <li *ngIf="this.userInfo.isUserAuth()" (click)="this.userInfo.logout()"><a routerLink="auth/login">Log out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> 